/* 

.message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid grey;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}

.message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: blue;
    border: 2px solid blue;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.send_message:hover {
    color: blue;
    background-color: white;
}

.text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
} */