
  
  .text-right{
    border: 2px solid #dedede;
    background-color: thistle;
    border-radius: 5px;
    padding: 10px;
    margin: 15px
  }
    .text-left{
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
  }
  

  .time-right {
    text-align:left;
    color: lightslategrey;
  }
  

  .time-left {
    text-align: right;
    color: lightslategrey;
  }
