/*Stylesheet*/

/*Navigation and Footer styling*/
/*Positioning*/
html, body {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  section {
    min-height: 100%;
    margin-bottom: -39.8px;
  }
  * html section{
    height: 100%;
    margin-bottom:38.8px;
  }
  #nav-spacer {
    height: 39.8px;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #footer-spacer {
    height: 39.8px;
  }
  footer {
    height: 38.8px;
  }
  /*navigation bar and footer background*/
  ul {
      height:38.8px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:rgb(125, 0, 0);
  }
  /*Style of button*/ 
  li {
    float: left;
  }
  li a {
      display: block;
      color: thistle;
      text-align: center;
      text-decoration: none;
  }
  .btn {
      background-color: rgb(125, 0, 0);
      border: none;
      color: thistle;
      padding: 5px 5px;
      font-size: 25px;
      cursor: pointer;
      display: inline-block;
  }  
  .btn:hover {
      background-color:rgb(100, 0, 0);
    }
  /*Style of text*/ 
  .navtxt{
    margin:2.2px;
    font-style:oblique;
    font-weight:bold;
    font-size: 30px;
    color:lightgoldenrodyellow;
    padding-left: 15px;
  }
  .foottxt{
    text-align: center;
    font-size: 12px;
    color:white;
    padding-left: 15px;
  }

/*Index Page*/
.indexpage{
    background-color: thistle;
}
.indeximage{
    position: absolute;
    top: 80%;
    left: 40%;
    padding: 5px 5px;
    width:60%;
    margin-left: -30%;
    height:60%;
    margin-top: -30%;
    cursor:pointer;
}
.gotoregisterbtn{
    position: absolute;
    top: 60%;
    left: 85%;
    padding: 5px 5px;
    width:20%;
    margin-left: -10%;
    height:30%;
    margin-top: -15%;
    background-color: rgb(125, 0, 0);
    border: none;
    color: thistle;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    }  
.gotoregisterbtn:hover {
    background-color:rgb(100, 0, 0);
    }


