.navbar{
    background-color: rgb(125, 0, 0);
}
.nav-link{
    color: thistle;
    cursor:pointer;
}
.nav-link:hover{
    color:thistle;
    background-color: rgb(100, 0, 0);
}
.navbar-text{
    color:lightgoldenrodyellow;
    font-weight: bold;
}
.footer-text{
    color:white;
    padding:8px;
}
